@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-custom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px; /* Регулирует отступ от текста */
  width: 100%;
  height: 1px; /* Толщина линии */
  background-color: black; /* Цвет линии */
}

.underline-custom-white::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px; /* Регулирует отступ от текста */
  width: 100%;
  height: 1px; /* Толщина линии */
  background-color: white;
}

.stage-hidden {
  height: calc(100% + 60px);
  top: -60px;
}
.stage-hidden.last {
  height: calc(150% + 60px);
  top: -60px;
}

.mentor-slide {
  transition: opacity 500ms ease-in !important;
}
.case-slide {
  transition: opacity 500ms ease-in !important;
}

/* input:-internal-autofill-selected {
  appearance: none !important;
  background-color: #353535 !important;
  background-image: #353535 !important;
  color: inherit !important;
} */

.trait::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0px;
  width: 40px;
  height: 2px;
  background-color: #353535;
  transform: rotate(-28deg);
}

.custom-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #333;

  background-color: white;
  position: relative;
  border-radius: 50%;
}

.custom-checkbox:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

.custom-checkbox:checked::after {
  content: "";
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.radio-group {
  display: flex;
  gap: 40px;
}

.custom-radio {
  display: flex;
  color: #ffffffcc;
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  gap: 6px;
}

.radio-circle {
  width: 14px;
  height: 14px;
  border: 1px solid #ffffffcc;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: border-color 0.3s;
  opacity: 0.5;
}

.radio-circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s;
}

.custom-radio input:checked + .radio-circle {
  border-color: white; /* Белый цвет при выборе */
  opacity: 1;
}

.custom-radio input:checked + .radio-circle::after {
  opacity: 1; /* Показываем внутренний круг при выборе */
}

.custom-radio input:checked ~ .radio-label {
  color: white; /* Белый цвет текста при выборе */
  opacity: 1;
}

.radio-label {
  color: #ffffffcc; /* Изначально светло-серый текст */
  transition: color 0.3s;
  opacity: 0.5;
}

.accordeon_plus::after {
  content: "";
  width: 100%;
  background-color: #f7f7f7;
  height: 1px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
}

.accordeon_plus::before {
  top: 0;
  left: 50%;
  content: "";
  width: 1px;
  background-color: #f7f7f7;
  height: 100%;
  position: absolute;
  transform: translateX(-50%);
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.accordeon_plus.active::before {
  transform: rotate(90deg);
}

.swiper-pagination-progressbar-fill-custom {
  background: #7f7f7f;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

.swiper-pagination {
  background-color: #404040 !important;
  /* Задайте желаемый цвет фона */
}

.swiper-pagination-progressbar {
  height: 1px !important; /* Установите нужную высоту */
}

.content {
  position: relative; /* Для размещения содержимого поверх фона */
  z-index: 1; /* Убедитесь, что контент поверх размытого фона */
  color: white; /* Цвет текста */
  padding: 20px; /* Отступы для содержимого */
}

.header {
  width: calc(100% - 28px);
}
.swiper-pagination {
  width: calc(100% - 30px) !important;
}

.swiper-slide {
  height: auto !important;
}

@font-face {
  font-family: "RFDewi";
  src:
    url("/fonts/RFDewi-Regular.woff2") format("woff2"),
    url("/fonts/RFDewi-Regular.woff") format("woff"),
    url("/fonts/RFDewi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RFDewi";
  src:
    url("/fonts/RFDewi-Italic.woff2") format("woff2"),
    url("/fonts/RFDewi-Italic.woff") format("woff"),
    url("/fonts/RFDewi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "RFDewi";
  src:
    url("/fonts/RFDewi-Semibold.woff2") format("woff2"),
    url("/fonts/RFDewi-Semibold.woff") format("woff"),
    url("/fonts/RFDewi-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "RFDewi";
  src:
    url("/fonts/RFDewi-SemiboldItalic.woff2") format("woff2"),
    url("/fonts/RFDewi-SemiboldItalic.woff") format("woff"),
    url("/fonts/RFDewi-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "RFDewi";
  src:
    url("/fonts/RFDewi-Ultrabold.woff2") format("woff2"),
    url("/fonts/RFDewi-Ultrabold.woff") format("woff"),
    url("/fonts/RFDewi-Ultrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@media (min-width: 640px) {
  .underline-custom::after {
    bottom: -3px;
  }

  .underline-custom-white::after {
    bottom: -3px;
  }
  .trait::after {
    top: 32px;
    transform: rotate(-20deg);
  }

  .custom-radio {
    font-size: 20px;
  }
}
